@model EditTeamModel

@{
    ViewData["Title"] = "Edit Team";
}

<form asp-action="Edit" asp-route-id="@Model.Team.Id" method="post">
    <div class="form-group row" bs-validation-for="Team.DivisionId">
        <label class="col-sm-2 col-form-label">Division</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Team.Division.Name</p>
        </div>
    </div>

    <div class="form-group row" bs-validation-for="Team.Name">
        <label asp-for="Team.Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="Team.Name" class="form-control" placeholder="Name" required="required" />
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="icon icon-edit"></span> Edit
            </button>
        </div>
    </div>
</form>

<h1 class="app-page-title mt-5">Manager(s)</h1>

<div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
        <form asp-action="Manager" asp-route-id="@Model.Team.Id" method="post">
            <select asp-for="ManagerId" asp-items="Model.Profiles" class="form-control custom-select w-auto"></select>
            <button type="submit" class="btn btn-success"><span class="icon icon-save"></span> Save</button>
        </form>

        <ul class="list-group list-group-flush mt-2">
            @if (!Model.Team.Managers.Any()) {
                <li class="list-group-item">
                    <p class="card-text">None</p>
                </li>
            }

            @foreach (var manager in Model.Team.Managers) {
                <li class="list-group-item justify-content-start">
                    @manager.Profile.FullName

                    <button type="button" class="btn btn-sm btn-danger ml-auto" data-toggle="modal" data-target="#delete-confirmation" data-target-form="#form-delete-manager-@manager.ProfileId"><span class="icon icon-erase"></span> Delete</button>
                    <form class="hidden-xs-up" id="form-delete-manager-@manager.ProfileId" asp-action="DeleteManager" asp-route-id="@Model.Team.Id">
                        <input type="hidden" name="ManagerId" value="@manager.ProfileId" />
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

<h1 class="app-page-title mt-5">Roster</h1>

<div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
        <form asp-action="Roster" asp-route-id="@Model.Team.Id" method="post">
            <select asp-for="PlayerId" asp-items="Model.Profiles" class="form-control custom-select w-auto"></select>
            <button type="submit" class="btn btn-success"><span class="icon icon-save"></span> Save</button>
        </form>

        <ul class="list-group list-group-flush mt-2">
            @if (!Model.Team.Roster.Any()) {
                <li class="list-group-item">
                    <p class="card-text">None</p>
                </li>
            }

            @foreach (var player in Model.Team.Roster) {
                <li class="list-group-item justify-content-start">
                    @player.Profile.FullName

                    <button type="button" class="btn btn-sm btn-danger ml-auto" data-toggle="modal" data-target="#delete-confirmation" data-target-form="#form-delete-player-@player.ProfileId"><span class="icon icon-erase"></span> Delete</button>
                    <form class="hidden-xs-up" id="form-delete-player-@player.ProfileId" asp-action="DeletePlayer" asp-route-id="@Model.Team.Id">
                        <input type="hidden" name="PlayerId" value="@player.ProfileId" />
                    </form>
                </li>
            }
        </ul>
    </div>
</div>