@model PaginatedList<Team>

@{
    ViewData["Title"] = "Manage Teams";
}

@await Component.InvokeAsync("DivisionTabs")

@if (!Model.Any()) {
    Html.RenderPartial("NoRecords");
    return;
}

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Manager(s)</th>
            <th>@Html.Partial("CreateNew")</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var team in Model) {
            <tr>
                <td>@team.Name</td>
                <td>
                    <ul class="list-unstyled mb-0">
                        <li>
                            @foreach (var manager in team.Managers) {
                                <div class="d-flex justify-content-between">
                                  <span>@manager.Profile.FullName</span>
                                  @if (!string.IsNullOrWhiteSpace(manager.Profile.Email)) {
                                    <a class="ml-2" data-toggle="tooltip" href="mailto:@(manager.Profile.Email)" title="@manager.Profile.Email">
                                        <span class="icon icon-mail"></span>
                                    </a>
                                  }
                                </div>
                            }
                        </li>
                    </ul>
                </td>
                <td>@Html.Partial("Actions", team.Id.ToString())</td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("Pagination")