@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var prevPageIndex = Model.PageIndex > 1 ? Model.PageIndex - 1 : 1;
    var nextPageIndex = Model.PageIndex < Model.TotalPages ? Model.PageIndex + 1 : Model.PageIndex;
}
<nav>
  <ul class="pagination justify-content-center mb-0">
    <li class="page-item @prevDisabled">
      <a class="page-link" aria-label="Previous" asp-action="Index" asp-route-page="@prevPageIndex">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    @for (var i = 1; i <= Model.TotalPages; i++) {
        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
        </li>
    }

    <li class="page-item @nextDisabled">
      <a class="page-link"aria-label="Next" asp-action="Index" asp-route-page="@nextPageIndex">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>