<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to MMMSL</title>

    <link href='http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300' rel='stylesheet' type='text/css'>

    @Styles.Render("~/assets/css/vendor")
    @Styles.Render("~/assets/css/app")

    <script type="text/javascript">
        (function() {
            if (!window.sessionStorage.apiUrl) {
                window.sessionStorage.apiUrl = '@WebConfigurationManager.AppSettings["LeagurelyApiUrl"]';
            }
        })();
    </script>
    @Scripts.Render("~/assets/js/modernizr")
</head>
<body>
    <header class="header-content container">
        <a href="/" class="pull-left">
            <img class="logo" src="/assets/images/mmmsl_logo.png" alt="Mid-Michigan Mens Soccer League" />
        </a>

        <nav class="navbar" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Open <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/open/schedule">Schedules/Scores</a></li>
                            <li><a href="/#/open/standings">Standings</a></li>
                            <li><a href="/#/open/teams">Teams</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Over 30 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/over-30/schedule">Schedules/Scores</a></li>
                            <li><a href="/#/over-30/standings">Standings</a></li>
                            <li><a href="/#/over-30/teams">Teams</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Over 40 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/over-40/schedule">Schedules/Scores</a></li>
                            <li><a href="/#/over-40/standings">Standings</a></li>
                            <li><a href="/#/over-40/teams">Teams</a></li>
                        </ul>
                    </li>

                    <li><a href="/#/league-info">League Information</a></li>
                </ul>
            </div>
        </nav>

        <hr />
    </header>

    <div class="body-content container" ng-app="app">
        @RenderBody()
    </div>

    <footer class="footer-content container">
        <hr />
        <p class="copyright">&copy; @DateTime.Now.Year - Mid-Michigan Mens Soccer League</p>
    </footer>

    @Scripts.Render("~/assets/js/vendor")
    @Scripts.Render("~/app/a")
    @Scripts.Render("~/app/c")
</body>
</html>