@model EditGameModel

@{
    ViewData["Title"] = "Edit Game";
}

<form asp-action="Edit" asp-route-id="@Model.Game.Id" method="post">
    <div class="form-group row" bs-validation-for="Game.DivisionId">
        <label class="col-sm-2 col-form-label">Division</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Game.Division.Name</p>
        </div>
    </div>

    <div class="form-group row" bs-validation-for="Game.HomeTeamId">
        <label asp-for="Game.HomeTeamId" class="col-sm-2 col-form-label">Home Team</label>
        <div class="col-sm-10">
            <select asp-for="Game.HomeTeamId" asp-items="Model.Teams" class="form-control select-team-destination" required="required"></select>
        </div>
    </div>

    <div class="form-group row" bs-validation-for="Game.AwayTeamId">
        <label asp-for="Game.AwayTeamId" class="col-sm-2 col-form-label">Away Team</label>
        <div class="col-sm-10">
            <select asp-for="Game.AwayTeamId" asp-items="Model.Teams" class="form-control select-team-destination" required="required"></select>
        </div>
    </div>

    <div class="form-group row" bs-validation-for="Game.DateAndTime">
        <label asp-for="Game.DateAndTime" class="col-sm-2 col-form-label">Date/Time</label>
        <div class="col-sm-10 date input-group">
            <input type="text" asp-for="Game.DateAndTime" class="form-control date-control" required="required" readonly="readonly" />
            <span class="input-group-addon">
                <span class="icon icon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group row" bs-validation-for="Game.FieldId">
        <label asp-for="Game.FieldId" class="col-sm-2 col-form-label">Field</label>
        <div class="col-sm-10">
            <select asp-for="Game.FieldId" asp-items="Model.Fields" class="form-control" required="required"></select>
        </div>
    </div>

    <div class="form-group row" bs-validation-for="Game.Status">
        <label asp-for="Game.Status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <select asp-for="Game.Status" asp-items="Html.GetEnumSelectList<GameStatus>()" class="form-control"></select>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="icon icon-edit"></span> Edit
            </button>
        </div>
    </div>
</form>

<section id="game-result-form" class="collapse @(Model.Game.Status == GameStatus.Played ? "show" : "")">
    <h1 class="app-page-title mt-5">Game Result</h1>

    <ul class="nav nav-bordered" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#team-@Model.Game.HomeTeamId" role="tab">@Model.Game.HomeTeam.Name</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#team-@Model.Game.AwayTeamId" role="tab">@Model.Game.AwayTeam.Name</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane active" id="team-@Model.Game.HomeTeamId" role="tabpanel">
            @Html.Partial("EditGoalForm", new EditGoalModel {
                Game = Model.Game,
                TeamId = Model.Game.HomeTeamId,
                Players = Model.HomeTeamPlayers
            })

            @Html.Partial("EditPenaltyForm", new EditPenaltyModel {
                Game = Model.Game,
                TeamId = Model.Game.HomeTeamId,
                Players = Model.HomeTeamPlayers,
                PenaltyCards = Model.PenaltyCards
            })
        </div>

        <div class="tab-pane" id="team-@Model.Game.AwayTeamId" role="tabpanel">
            @Html.Partial("EditGoalForm", new EditGoalModel {
                Game = Model.Game,
                TeamId = Model.Game.AwayTeamId,
                Players = Model.AwayTeamPlayers
            })

            @Html.Partial("EditPenaltyForm", new EditPenaltyModel {
                Game = Model.Game,
                TeamId = Model.Game.AwayTeamId,
                Players = Model.AwayTeamPlayers,
                PenaltyCards = Model.PenaltyCards
            })
        </div>
    </div>
</section>