@model PaginatedList<Game>

@{
    ViewData["Title"] = "Manage Games";
}

@await Component.InvokeAsync("DivisionTabs")

@if (!Model.Any()) {
    Html.RenderPartial("NoRecords");
    return;
}

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Field</th>
            <th>@Html.Partial("CreateNew")</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var game in Model) {
            <tr>
                <td>@(game.DateAndTime.ToString("yyyy-MM-dd hh:mm tt"))</td>
                <td>@game.HomeTeam.Name</td>
                <td>@game.AwayTeam.Name</td>
                <td>@game.Field.Description</td>
                <td>@Html.Partial("Actions", game.Id.ToString())</td>
            </tr>
        }
    </tbody>

    @if (Model.TotalPages > 1) {
        <tfoot>
            <tr>
                <td colspan="5">
                    @Html.Partial("Pagination")
                </td>
            </tr>
        </tfoot>
    }
</table>