@model Schedule
@{
    ViewData["Title"] = $"{Model.Division.Name} Schedule";
}

@if (!Model.Entries.Any()) {
    <div class="block block-inverse app-block-intro">
        <h1>No schedule has been posted yet.</h1>
    </div>
}

@foreach(var dateEntry in Model.Entries) {
    <h2 class="app-schedule-date pb-2 mb-3">@(dateEntry.Key.ToString("D"))</h2>
    @foreach(var gameGroup in dateEntry.Value) {
        <h3 class="h5">
            <span class="icon icon-clock text-info"></span>
            @(gameGroup.Key.ToString("h:mm tt"))
        </h3>

        <div class="row mb-3">
            @foreach(var game in gameGroup) {
                <div class="col-sm-6 mb-2">
                    <div class="card app-card-schedule @(game.Status == GameStatus.Played ? "h-100" : "")">
                        <div class="card-block">
                            <h4 class="card-title text-primary font-weight-bold">
                                @game.HomeTeam.Name vs @game.AwayTeam.Name<br/>
                                <span class="app-card-schedule-field">Field A</span>
                            </h4>

                            @if (game.Status == GameStatus.Played) {
                                <ul class="nav nav-bordered app-nav-schedule-info">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#goal-summary-@(game.Id)">Goals</a>
                                    </li>

                                    @if (game.Penalties.Any()) {
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#penalty-summary-@(game.Id)">
                                                Penalties
                                                <span class="badge badge-default ml-1">@game.Penalties.Count</span>
                                            </a>
                                        </li>
                                    }
                                </ul>

                                <div class="tab-content mt-2">
                                    <div class="tab-pane active" id="goal-summary-@(game.Id)" role="tabpanel">
                                        @if (!game.Goals.Any()) {
                                            <p>Lots of running, no production.</p>
                                        }
                                        else {
                                            <div class="row">
                                                @{
                                                    var homeTeamGoals = game.TeamGoals(game.HomeTeamId);
                                                    var awayTeamGoals = game.TeamGoals(game.AwayTeamId);
                                                }

                                                <div class="col-sm-6">
                                                    @Html.Partial("TeamGoals", new TeamGoalsModel { Team = game.HomeTeam, Goals = homeTeamGoals })
                                                </div>
                                            
                                                <div class="col-sm-6">
                                                    @Html.Partial("TeamGoals", new TeamGoalsModel { Team = game.AwayTeam, Goals = awayTeamGoals })
                                                </div>
                                            </div>
                                        }
                                    </div>
                            
                                    @if (game.Penalties.Any()) {
                                        <div class="tab-pane" id="penalty-summary-@(game.Id)" role="tabpanel">
                                            <div class="row">
                                                @{
                                                    var homeTeamPenalties = game.TeamPenalties(game.HomeTeamId);
                                                    var awayTeamPenalties = game.TeamPenalties(game.AwayTeamId);
                                                }

                                                <div class="col-sm-6">
                                                    @Html.Partial("TeamPenalties", new TeamPenaltiesModel { Team = game.HomeTeam, Penalties = homeTeamPenalties })
                                                </div>
                                            
                                                <div class="col-sm-6">
                                                    @Html.Partial("TeamPenalties", new TeamPenaltiesModel { Team = game.AwayTeam, Penalties = awayTeamPenalties })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    
                        @if (game.Status == GameStatus.Played) {
                            <div class="card-footer statcard text-right">
                                <span class="statcard-desc text-primary font-weight-bold">Final Score</span>
                                <h3 class="statcard-number">
                                    @(game.TeamGoalTotal(game.HomeTeamId)) - @(game.TeamGoalTotal(game.AwayTeamId))
                                </h3>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
}