@model PaginatedList<Profile>

@{
    ViewData["Title"] = "Manage Profiles";
}

@if (!Model.Any()) {
    Html.RenderPartial("NoRecords");
    return;
}

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>@Html.Partial("CreateNew")</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var profile in Model) {
            <tr>
                <td>@profile.FirstName</td>
                <td>@profile.LastName</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(profile.Email)) {
                        <a href="mailto:@(profile.Email)">@profile.Email</a>
                    }
                </td>
                <td>@Html.Partial("Actions", profile)</td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("Pagination")